{% comment %} {% extends 'base.html' %} {% endcomment %}
{% comment %} {% load static %}

{% block content %}  {% endcomment %}
{% comment %} 
<h1>{{post.title}}</h1>
작성자 : {{post.writer}}
작성 날짜 : {{post.pub_date}}
<hr>
{% if post.video%}
    <p><img src="{{ post.image.url }}" alt="사진 나올 곳"></p>
{% endif %}
{% if post.extra%}
    <p><img src="{{ post.image.url }}" alt="사진 나올 곳"></p>
{% endif %}
<p>{{post.body}}</p> 
<p>봉사 내용 간략 요약</p> {% endcomment %}



{% if rn %}
<a href="{%url 'apply:apply_main' %}" class="btn_post">주강사 신청하기</a>
<a href="{%url 'apply:apply_sub' %}" class="btn_post">보조강사 신청하기</a>
{% else %}
<a href="{%url 'apply:result' post.id %}" class="btn_post">결과 확인하기</a>
{% endif %}
{% comment %} {% endblock %} {% endcomment %}

