{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="margin:0px 30px; margin-top:80px;">
  <div class="container">
    {% if user.is_authenticated %}
    <h2>
      {{user.username}}
    </h2>
    <br>
    <div style="width: 25%; padding-bottom: 3%; border:3px solid black; display:inline-block;  position: relative; margin-left: 25%; padding-top: 5%; text-align: center; font-size: 1.7vw;">
      총 봉사활동 시간 <br>
      <p style="font-weight: bold; font-family:Roboto; font-size:4.5vw; text-align: center; display: inline-block; color:rgb(31, 156, 165);">
      {{a}}  </p> <p style="font-size:1.7vw; display: inline-block;">시간</p>


    </div>
    <div style="width: 25%; padding-bottom: 3%; border:3px solid black; display: inline-block; position: relative; margin-left: 5%; padding-top: 5%; text-align: center; font-size: 1.7vw;">
      총 봉사 참여 횟수 <br> 
      <p style="font-weight: bold; font-family:Roboto; font-size:4.5vw; text-align: center; display: inline-block; color:rgb(31, 156, 165);">
      {{b}}  </p> <p style="font-size:1.7vw; display: inline-block;">번</p>

    </div>
    <hr style="margin-left:17%; width: 70%;">
    <div>
      <br><br><br>
      <table class="table">
        <thead>
          <tr style="font-size:1.3vw;">
            <th scope="col"></th>
            <th scope="col">프로그램명</th>
            <th scope="col">봉사유형</th>
            <th scope="col">봉사일시</th>
            <th scope="col">봉사시간</th>
          </tr>
        </thead>
        <tbody>
            {%for i in myinfo%}
          <tr style="font-size:1.2vw;">
              {%if i.winner%}
            <th scope="row"><li></li></th>
            <td>{{i.title}}</td>
            <td>{{i.main_or_sub}}</td>
            <td>{%for j in post %} 
                  {%if j.title == i.title %}
                    {{j.work_date}}
                  {%endif%}
                {%endfor%}</td>
            <td>{{i.total_work}} 시간</td>
          </tr>
              {%endif%}
            {% endfor %}
        </tbody>
      </table>
    </div>

    {% else %}
    <div style="display:block; text-align: center; width:900px;margin: 300px auto; position:relative;">
      <h3>로그인 후 이용 가능</h3>
      <br>
      <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
      <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
    </div>

    {% endif %}

  </div>
</section>
{% endblock %}