{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="margin:0px 30px; margin-top:80px;">
<div class="container" style="margin-top: 7%;">
    {% if user.is_authenticated %}
    <h2>
        {{user.username}}
    </h2>
    <br>
    <div class="box">
    <div style="width: 25%; padding-bottom: 3%; border:3px solid black; display:inline-block;  position: relative; margin-left: 25%; padding-top: 5%; text-align: center; font-size: 1.7vw;">총 봉사활동 시간
    <br>
    <p style="font-weight: bold; font-family:Roboto; font-size:4.5vw; text-align: center;">{{myinfo.total_work}}</p>
    </div>
    <div style="width: 25%; padding-bottom: 3%; border:3px solid black; display: inline-block; position: relative; margin-left: 5%; padding-top: 5%; text-align: center; font-size: 1.7vw;">총 봉사 참여 횟수
    <br>
    <p style="font-weight: bold; font-family:Roboto; font-size:4.5vw; text-align: center;">{{myinfo.total_count}}</p>
    </div>
    <hr style="margin-left:17%; width: 70%;">
    </div>
    <div>
      <br>
      <br>
      <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">프로그램명</th>
                <th scope="col">봉사유형</th>
                <th scope="col">봉사날짜</th>
                <th scope="col">봉사시간</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for result1 in result1 %}
                <th scope="row">{{result1.pk}}</th>
                <td>{{result1.title}} </td>
                <td>{{result1.main_or_sub}}</td>
                <td>{{result2.work_date}}</td>
                <td>{{result2.work_hour}}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>


  
  {% else %}
      <div style="display:block; text-align: center; width:900px;margin: 300px auto; position:relative;">
          <h3>로그인 후 이용 가능</h3> 
          <br>
          <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
          <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
      </div>
      
    {% endif %}
  
  </div>
</section>
{% endblock %}