<!-- 메인페이지html -->
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="{% static './main.97292821.css' %}" rel="stylesheet"></head>

<body style="font-family: 'Open Sans', sans-serif;">

    <!-- 메인페이지 소개파트  -->
<div class="background-image-container white-text-container" style="background-image: url('https://cdn.dribbble.com/users/1925451/screenshots/3960764/startup1.jpg?compress=1&resize=800x600');   background-size: 47%;
color: black; margin-top:80px;" >
    <div class="overlay"></div>
    <div class="container" >
        <div class="row">
            <div class="col-xs-12">
                <h1 style="font-family: 'Open Sans', sans-serif; color: whitesmoke; text-shadow: 2px 2px 4px gray;">HI-SW Volunteer Corps</h1>
                <p style="font-size: 33px; color: black;">Dongguk University</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" style="color: black;">Contact</a>
            </div>
        </div>
    </div>
</div>

<!-- 사이트 소개 파트 -->
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">About This Page</h2>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <a href="{% url 'education:edulist'%}"><i class="fas fa-laptop-code fa-3x" aria-hidden="true"></i></a>
                </div>
                <h3 class="text-center">Education</h3>
                <p>봉사를 위한 교육을 받을 수 있습니다.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <a href="{% url 'education:edulist'%}">    <i class="fas fa-poll fa-3x" aria-hidden="true"></i></a>
                </div>
                <h3 class="text-center">Apply</h3>
                <p>봉사 지원을 할 수 있습니다.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    {%if user.is_authenticated%}
                    <a href="{%url 'mypage:mypage' %}"> <i class="far fa-user fa-3x" aria-hidden="true"></i></a> 
                    {%else%}
                      <a href="{%url 'account_login'%}"> <i class="far fa-user fa-3x" aria-hidden="true"></i></a> 
                    {%endif%}
                </div>
               <h3 class="text-center">Profile</h3>
                <p>자신의 봉사내역을 확인할 수 있습니다.</p>
            </div>
        </div>
    </div>
</div>

<!-- 봉사단 소개 파트 -->
<div class="section-container section-half-background-image-container" >
    <div class="container">
        <div class="row">
            <div class="reveal" style="display: inline-block">
                <h2>HI-SW 봉사단이란?</h2>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column" style="font-family: 'Noto Sans KR', sans-serif;">
                <h3>Dongguk univ.</h3>
                <p style="font-family: 'Noto Sans KR', sans-serif;">HI-SW 봉사단은 정보소외계층, 중학생, 고등학생 그리고 비전공자 봉사단으로 나뉘어져 있습니다.</p>
                <p>각 봉사단의 봉사활동은 엔트리게임만들기, 구름IDE를 이용한 코딩 교육, 오조봇 등의 코딩 교육용 플랫폼을 이용한 IT교육 봉사활동 위주로 진행됩니다.</p>
            </div>
        </div>
    </div>
</div>

<!-- 봉사단 연락처 및 정보 파트 -->
<div class="" id="contact-section-container">
    <div class='container-fluid' >
        <div class="row map-container">
            <!-- map id 색설정 가능 -->
            <div id="map" > 
            </div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal" >
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>+82) 010-7226-2051</p>

                        <h3>E-mail</h3>
                        <p>hisoftware19@gmail.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>동국대학교 원흥관 F314호 융합교육원 행정팀</p>

                        <h3>Open hours</h3>
                        <p>Mon-Fri : 9AM-5PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js  -->
<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>

<script type="text/javascript" src="{% static './main.faaf51f9.js' %}"></script>
   <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous">
    </script>
{% endblock %}