<footer class="footer-container white-text-container" style="background-color : rgba(165, 211, 206, 0.904)">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>HSE의 의미는 HI-SW-Education의 약자로 하이소프트웨어 봉사단의 교육체계를 발전시키기 위해 제작된 서비스입니다.</p>
                </div>

                <div class="col-md-4">
                    <h4>Developed by</h4>
                    <div>
                        <p><small>HSE(박상준,서희찬,이태검,정민경)</small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Version</h4>
                    <p>2.1</p>
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>