<footer class="footer-container white-text-container" style="background-color : rgba(165, 211, 206, 0.904)">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>HSE의 의미는 Hi-Sw-Education의 약자로 하이소프트웨어 봉사단의 교육체계를 발전시키기 위해 제작된 서비스입니다.</p>
                </div>

                <div class="col-md-4">
                    <h4>Social</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>©HSE(박상준,서희찬,이태검,정민경)</small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Version</h4>
                    <p>1.4</p>
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>