<footer class="footer-container white-text-container" style="background-color : rgba(156, 156, 156, 0.904)">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>We HSE team this means Hi-Sw-Education we developed this site for education</p>
                </div>

                <div class="col-md-4">
                    <h4>Social</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>©HSE_Project Shimbaton_3Team</small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Version</h4>
                    <p>1.0 </p>
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>