{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{post.title}}</h1>
작성자 : {{post.writer}}
작성 날짜 : {{post.pub_date}}
<hr>
{% if post.video%}
    <p><video src="{{ post.video.url }}" controls>설명 영상</video></p>
{% endif %}
<p>{{post.body}}</p>
{% if post.extrafile%}
    <p>
        첨부파일: {{post.extrafile.name}}
        <a class="btn" href="{{ post.extrafile.url }}" download>다운로드</a>
    </p>
{% endif %}
<a href="{%url 'education:edit' post.id %}" class="btn_post">수정하기</a>
<a href="{%url 'education:delete' post.id %}" class="btn_post">삭제하기</a>
<a href="{%url 'apply:apply_detail' post.id %}" class="btn_post">신청하기</a>

{% endblock %}

