{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="margin:0px 30px; margin-top:80px;">
    <h2>{{post.title}}</h2>
    <p>작성자 : {{post.writer}} / 작성 날짜 : {{post.pub_date}}</p>
    <hr>
    {% if post.video%}
        <iframe width="560" height="315" src="{{post.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
    <p>신청 기한: {{post.due_date}}</p>
    <p>주 강사: {{post.main_teacher}}명 / 보조 강사: {{post.sub_teacher}}명</p>
    <p>봉사 일시: {{post.work_date}}</p>
    <p>인정 봉사 시간: {{post.work_hour}}</p>
    {% if post.image%}
        <p><img src="{{ post.image.url }}" style="width:60%" alt="사진"></p>
    {% endif %}
    <p><pre>{{post.body}}</pre></p>
    {% if post.extrafile%}
        <p>
            Attachment: <a class="btn" href="{{ post.extrafile.url }}" target="_blank">{{post.extrafile.name}}</a>
        </p>
    {% endif %}

    {%if author%}
        <a href="{%url 'education:edit' post.id %}" class="btn_post">수정하기</a>
        <a href="{%url 'education:delete' post.id %}" class="btn_post">삭제하기</a>
    {%endif%}

    {%if is_dead%}
        <a href="{%url 'apply:apply_main_sub' post.id %}" class="btn_post">신청하기</a>
    {%else%}
        <a href="{%url 'apply:apply_result' post.id %}" class="btn_post">결과 보기</a>
    {%endif%}
</section>
{% endblock %}

