{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="margin:0px 30px; margin-top:80px;">
{%if user.is_authenticated%}
    <h2>봉사 목록</h2>
    {%if user.is_superuser%}
        <a href="{%url 'education:new' %}">새 봉사 올리기</a>
    {%endif%}
    {%for post in posts%}
    <div>
        <a href="{%url 'education:detail' post.id%}"><h3>{{post.title}}</h3></a>
	    글쓴이: {{post.writer}} 
        {%if post.work_hour%}
            <span style="border: tomato 1px solid; padding: 3px; background-color: tomato; color:white;">봉사시간 인정</span>
        {%endif%}
        <br>
    </div>
    <hr>
    {%endfor%}

{%else%} 
<!-- 로그인 안돼있으면 돌아가 -->
    <script>
        alert("로그인 후 이용해주세요");
        window.location.href="{%url 'account_login'%}"
    </script>
{%endif%}
</section>
{% endblock %}
