{% extends 'base.html' %} 
{% load static %} 
{% load i18n %} 
{% block content %}

<section id="portfolio" style="background-size:100%; margin:200px">
  <div style="width:300px; margin:0 auto; ">
  <div class="wow fadeInUp" data-wow-delay="0.5s">
    <div class="login-sec" >
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }}
        <div class="login-btn">
          <input style="height: 20px; background-color: #c7c7c7; border-radius: 10px; color: white; height: 30px; width: 80px; border: white;" type="submit" class="upload-btn" value="Login" />
        </div>
      </form>
    </div>
    <br>
    <div>
      <p>회원이 아니신가요? &nbsp;<a href="{% url 'account_signup' %}"> 회원가입</a></p>
      <p>바밀번호를 잊으셨나요? &nbsp;<a href="{% url 'account_reset_password' %}">비밀번호 찾기</a></p>
    </div>
  </div>
  <!-- <로그인페이지> -->
</div> 
</section> 
{% endblock %}
